@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  ::-webkit-scrollbar{
    width: 5px;
  }

  ::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: green;
  }
